@import "bootstrap/dist/css/bootstrap.min.css";
@import 'quill/dist/quill.snow.css';

* {
  scrollbar-width: thin;
  scrollbar-color: #c8bfb0 transparent;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px; // for horizontal scrollbars
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c8bfb0;
    border-radius: 999px;
  }
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #2C3E50;
    --secondary-color: #E8DCC4;

    --accent1: #8B7355;
    --accent2: #4A7C7E;
    --accent3: #C17767;
    
    --title: 1.75rem;
    --header1: 2rem;
    --header2: 1.5rem;
    --header3: 0.5rem;

    --header-height: 73px;
}

// Global classes
.default-header {
    font-weight: 700;
}

.default-header-primary {
    color: var(--primary-color);
    font-weight: 600;
}

.default-title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
}

.header1 {
    font-size: var(--header1);
    color: var(--primary-color);
}

.header2 {
    font-size: var(--header2);
    color: var(--primary-color);
}

.btn-accent2 {
    background-color: var(--accent2);
    color: white;
    padding: 0 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.55rem 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
    white-space: nowrap;

    &:hover {
        background-color: rgb(58.904, 98.704, 100.296);
    }
}